{#
Template for an email message sent to confirm an email address.
Variables passed to this template:
    user: SimpleUser\User
    url: Welcome url
#}

{# The subject line #}
{%- block subject -%}{%- autoescape false -%}
    Welcome to PointApp - Confirm E-mail
{%- endautoescape -%}{%- endblock -%}

{# The HTML message #}
{%- block body_text -%}
    <p>Thank You for registrating to PointApp!</p>
    <p>Please click the link below to confirm registration.</p>
    <a href="{{url}}">{{url}}</a>
{%- endblock -%}
{%- block body_html -%}

    <p>Thank You for registrating to PointApp!!!!!!!!!</p>
    <p>Please click the link below to confirm registration.</p>
    <a href="{{url}}">{{url}}</a>
{%- endblock -%}
